<a href="https://colab.research.google.com/github/avinashsingh16/daily-python-numpy-pandas/blob/main/Pandas_operation_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import ast
def convert_to_list(x):
  try:
    return ast.literal_eval(x) if isinstance(x,str) else x
  except Exception as e:
    print("Failed to parse",x)
    return []

In [2]:
test_1 = "[1, 2, 3]"
print(convert_to_list(test_1))  # Output: [1, 2, 3]

[1, 2, 3]

In [3]:
test_2 = "[{'name': 'Tom'}, {'name': 'Jerry'}]"
print(convert_to_list(test_2))
# Output: [{'name': 'Tom'}, {'name': 'Jerry'}]

[{'name': 'Tom'}, {'name': 'Jerry'}]

In [4]:
test_3 = "[1, 2, "   # This is an incomplete list (error!)
print(convert_to_list(test_3))
# Output: Failed to parse: [1, 2,
#         []

Failed to parse [1, 2,
[]

In [5]:
test_4 = [4, 5, 6]
print(convert_to_list(test_4))  # Output: [4, 5, 6]

[4, 5, 6]

In [6]:
test_5 = "Hello World"
print(convert_to_list(test_5))
# Output: Failed to parse: Hello World
#         []

Failed to parse Hello World
[]

In [7]:
import pandas as pd
from datetime import datetime

# Creating a sample e-commerce dataset
data = {
    "Order ID": [1001, 1002, 1003, 1004, 1005, 1006],
    "Customer": ["Riya", "Aman", "Neha", "Rahul", "Divya", "Amit"],
    "Order Date": ["2022-12-15", "2023-01-05", "2023-03-17", "2022-07-20", "2023-12-25", "2023-12-31"],
    "Amount": [1500, 2400, 1800, 2200, 3000, 1700]
}

df = pd.DataFrame(data)
# df.to_csv("ecommerce_orders.csv", index=False)  # Save to a CSV file
# print(df)

In [8]:
# 	1.	How many orders were placed in the year 2023?
date_str = data['Order Date'][0]
date_obj = datetime.strptime(date_str,"%Y-%m-%d")

In [9]:
print(date_obj.year)

2022

In [10]:
# count = 0
# for date in data['Order Date']:
#   date_str = date
#   date_obj = datetime.strptime(date_str,"%Y-%m-%d")
#   if date_obj.year == 2023:
#     count += 1
# print(f"The total order in 2023 is {count}")

In [11]:
data['Order Date'] = pd.to_datetime(data['Order Date'], errors='coerce')  # Converts & handles bad dates

In [12]:
count = 0
for date in data['Order Date']:
    if pd.notna(date) and date.year == 2023:
        count += 1
print(f"Total orders in 2023: {count}")

Total orders in 2023: 4

In [13]:
	# 1.	How many orders were placed in the year 2023?
	# 2.	What is the total amount spent in December across all years?
	# 3.	Which month had the highest number of orders?
	# 4.	What day of the week gets the most orders?

In [19]:
print(df.columns)

Index(['Order ID', 'Customer', 'Order Date', 'Amount'], dtype='object')

In [22]:
# 2.	What is the total amount spent in December across all years?
df['Order Date'] = pd.to_datetime(df['Order Date'],errors='coerce')
# create a year column
df['Year'] = df['Order Date'].dt.year
print(df['Year'].value_counts())

Year
2023    4
2022    2
Name: count, dtype: int64

In [32]:
# 3.	Which month had the highest number of orders?
import calendar
# convert string into date time object
df['Order Date'] = pd.to_datetime(df['Order Date'],errors='coerce')

# create a month column
df['Month'] = df['Order Date'].dt.month

# count how many orders per month
month_count = df["Month"].value_counts()

#Get the month with highest orders per month
max_month = month_count.idxmax()
max_order = month_count.max()

month_name = calendar.month_name[max_month]

print(f"The highest order is {max_order} and is in {month_name} month.")

The highest order is 3 and is in December month.

In [49]:
# What day of the week gets the most orders?
df['Order Date'] = pd.to_datetime(df['Order Date'],errors='coerce')

# create the date column
df['DayOfWeek'] = df['Order Date'].dt.day_name()
# print(df["DayOfWeek"])

#Get the day of highest order
day_count = df['DayOfWeek'].value_counts()


max_order_day = day_count.idxmax()

max_order = day_count.max()

print(f"The maximum order i.e {max_order} is on {max_order_day}")

The maximum order i.e 2 is on Thursday