<a href="https://colab.research.google.com/github/avinashsingh16/daily-python-numpy-pandas/blob/main/Pandas_operation_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import ast
def convert_to_list(x):
  try:
    return ast.literal_eval(x) if isinstance(x,str) else x
  except Exception as e:
    print("Failed to parse",x)
    return []

In [7]:
test_1 = "[1, 2, 3]"
print(convert_to_list(test_1))  # Output: [1, 2, 3]

[1, 2, 3]

In [8]:
test_2 = "[{'name': 'Tom'}, {'name': 'Jerry'}]"
print(convert_to_list(test_2))
# Output: [{'name': 'Tom'}, {'name': 'Jerry'}]

[{'name': 'Tom'}, {'name': 'Jerry'}]

In [9]:
test_3 = "[1, 2, "   # This is an incomplete list (error!)
print(convert_to_list(test_3))
# Output: Failed to parse: [1, 2,
#         []

Failed to parse [1, 2,
[]

In [10]:
test_4 = [4, 5, 6]
print(convert_to_list(test_4))  # Output: [4, 5, 6]

[4, 5, 6]

In [11]:
test_5 = "Hello World"
print(convert_to_list(test_5))
# Output: Failed to parse: Hello World
#         []

Failed to parse Hello World
[]