<a href="https://colab.research.google.com/github/avinashsingh16/daily-python-numpy-pandas/blob/main/Pandas_operation_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import ast
def convert_to_list(x):
  try:
    return ast.literal_eval(x) if isinstance(x,str) else x
  except Exception as e:
    print("Failed to parse",x)
    return []

In [21]:
test_1 = "[1, 2, 3]"
print(convert_to_list(test_1))  # Output: [1, 2, 3]

[1, 2, 3]

In [22]:
test_2 = "[{'name': 'Tom'}, {'name': 'Jerry'}]"
print(convert_to_list(test_2))
# Output: [{'name': 'Tom'}, {'name': 'Jerry'}]

[{'name': 'Tom'}, {'name': 'Jerry'}]

In [23]:
test_3 = "[1, 2, "   # This is an incomplete list (error!)
print(convert_to_list(test_3))
# Output: Failed to parse: [1, 2,
#         []

Failed to parse [1, 2,
[]

In [24]:
test_4 = [4, 5, 6]
print(convert_to_list(test_4))  # Output: [4, 5, 6]

[4, 5, 6]

In [25]:
test_5 = "Hello World"
print(convert_to_list(test_5))
# Output: Failed to parse: Hello World
#         []

Failed to parse Hello World
[]

In [26]:
# import pandas
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
imdb_df = pd.read_csv('/content/drive/MyDrive/datasets/imdb_data.csv')

In [28]:
# Q1: Load the dataset into a DataFrame. What is the shape (number of rows and columns) of the dataset?
imdb_df.shape
# Q2: Print the first 5 rows of the dataset using a suitable method. What are the column names?
imdb_df.head(5)
# imdb_df.columns

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [29]:
#  Q3: Are there any missing (NaN) values in the dataset? If yes, which columns have them?
imdb_df.isna().sum()[imdb_df.isna().sum() > 0]

belongs_to_collection    2396
genres                      7
homepage                 2054
overview                    8
poster_path                 1
production_companies      156
production_countries       55
runtime                     2
spoken_languages           20
tagline                   597
Keywords                  276
cast                       13
crew                       16
dtype: int64

In [30]:
#  Q4: Which column(s) could serve as a unique identifier for each movie (like a primary key)?
imdb_df.columns
for col in imdb_df.columns:
  if imdb_df[col].isna().sum()==0 and imdb_df[col].nunique()==len(imdb_df):
    print(f"{col} can be unique identifier")

id can be unique identifier
imdb_id can be unique identifier

In [31]:
# Q5: How many duplicate rows are there in the dataset?
imdb_df.duplicated().sum()
# to see duplicated rows
imdb_df[imdb_df.duplicated()]

Empty DataFrame
Columns: [id, belongs_to_collection, budget, genres, homepage, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, runtime, spoken_languages, status, tagline, title, Keywords, cast, crew, revenue]
Index: []

[0 rows x 23 columns]

In [32]:
# Q6: How many movies were released in the year 2015?
imdb_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [33]:
type(imdb_df['release_date'])

pandas.core.series.Series

In [34]:
imdb_df['release_date'][0]

'2/20/15'

In [35]:
from datetime import datetime

In [36]:
# count = 0
# for date in imdb_df['release_date']:
imdb_df['release_date'] = pd.to_datetime(imdb_df['release_date'] ,format="%m/%d/%y",errors='coerce')
movies_2015 = imdb_df[imdb_df['release_date'].dt.year==2015]
print(len(movies_2015))



# print(count)

128

In [37]:
count = 0
for date in imdb_df['release_date']:

  if date[-2:] == '15':
    count = count+1
print(count)

TypeError: 'Timestamp' object is not subscriptable

🔰 Q6 to Q10 – Basic Filtering & Info

✅ Q6: How many movies were released in the year 2015?

✅ Q7: What is the average runtime of all movies?

✅ Q8: Show all movies where the original language is not English.

✅ Q9: Find the number of movies that have a popularity score greater than 100.

✅ Q10: How many unique genres are there in the dataset?

⸻

In [38]:
# Q7: What is the average runtime of all movies?
imdb_df['runtime'] = pd.to_numeric(imdb_df['runtime'],errors='coerce')
average_runtime = imdb_df['runtime'].mean()
print(average_runtime)

107.85657104736491

In [39]:
# Q8: Show all movies where the original language is not English.
imdb_df.loc[(~imdb_df['original_language'].isna()) & (imdb_df['original_language'] !='en')]

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,2012-03-09,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2009-02-05,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
15,16,NaN,500000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://skinningmovie.com/synopsis.htm,tt1129437,sr,Šišanje,Novica is a mathematics champion in a Belgrade...,1.018477,...,2010-10-06,97.0,"[{'iso_639_1': 'sr', 'name': 'Srpski'}]",Released,Life is sometimes rude game: one mistake can b...,Skinning,"[{'id': 379, 'name': 'skinhead'}, {'id': 7492,...","[{'cast_id': 1001, 'character': 'Novica', 'cre...","[{'credit_id': '52fe4927c3a36847f818bb5f', 'de...",198
30,31,NaN,13000000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,tt1675434,fr,Intouchables,A true story of two men who should never have ...,16.086919,...,2011-11-02,112.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Sometimes you have to reach into someone else'...,The Intouchables,"[{'id': 3230, 'name': 'male friendship'}, {'id...","[{'cast_id': 6, 'character': 'Philippe', 'cred...","[{'credit_id': '52fe4967c3a368484e129b63', 'de...",426480871
31,32,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",http://www.cache-derfilm.at,tt0387898,fr,Caché,A married couple is terrorized by a series of ...,5.695860,...,2005-05-02,117.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Caché,"[{'id': 90, 'name': 'paris'}, {'id': 213, 'nam...","[{'cast_id': 2, 'character': 'Georges Laurent'...","[{'credit_id': '52fe4244c3a36847f8011073', 'de...",36000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2963,2964,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.koizora-movie.jp,tt1194664,ja,恋空,"During her freshman year in high school, Mika ...",1.718237,...,2007-11-03,129.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Sky Of Love,"[{'id': 6270, 'name': 'high school'}, {'id': 9...","[{'cast_id': 1, 'character': 'Tahara Mika', 'c...","[{'credit_id': '52fe459fc3a36847f80d161b', 'de...",44038000
2972,2973,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt0482930,cn,龍虎門,Dragon Tiger Gate is a 2006 Hong Kong martial ...,4.154861,...,2006-07-27,94.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]",Released,NaN,Dragon Tiger Gate,"[{'id': 780, 'name': 'kung fu'}]","[{'cast_id': 1, 'character': 'Dragon Wong', 'c...","[{'credit_id': '52fe46869251416c7507b08f', 'de...",8685526
2980,2981,NaN,300000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://www.facebook.com/Actionherobiju/,tt5320514,ml,ആക്ഷൻ ഹീറോ ബിജു,Biju is an honest policeman who fights the inj...,0.350207,...,2016-02-04,144.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,A ride with a police officer,Action Hero Biju,"[{'id': 1252, 'name': 'suicide attempt'}, {'id...","[{'cast_id': 1, 'character': 'Sub-Inspector Bi...","[{'credit_id': '56b4d47f92514112b90045f6', 'de...",2500000
2988,2989,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0301978,fa,ده,A visual social examination in the form of ten...,0.984515,...,2002-05-20,94.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,NaN,Ten,"[{'id': 1156, 'name': 'sister sister relations...","[{'cast_id': 2, 'character': 'Driver', 'credit...","[{'credit_id': '52fe460a9251416c7506b0a7', 'de...",105656
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,2013-03-28,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590

In [40]:
#  Q9: Find the number of movies that have a popularity score greater than 100.
len(imdb_df[imdb_df['popularity']>100])

8

In [41]:
# How many unique genres are there in the dataset?
imdb_df['genres'].nunique()

872

🟢 Beginner-Level Questions

	1.	How many movies are in the dataset?

	2.	How many unique original languages are there?

	3.	What is the average runtime of all movies?

	4.	How many movies were released in the year 2015?

	5.	Show all movies where the original language is not English.

🟡 Intermediate-Level Questions

	1.	What is the highest vote average, and which movie has it?

	2.	Which movie has the longest runtime?

	3.	How many movies have a popularity score greater than 100?

	4.	How many unique genres are there?

	5.	What are the top 5 most common genres?

🔴 Experienced-Level Questions

	1.	In which year were the most movies released?

	2.	What is the trend of average movie runtime over the years?

	3.	Which language has the highest average popularity?

	4.	Which genres tend to have the highest vote average?

	5.	Create a bar chart showing number of movies released per year.

In [42]:
# 1.    How many movies are in the dataset?
len(imdb_df)

3000

In [43]:
# 2.    How many unique original languages are there?
imdb_df['original_language'].nunique()

36

In [44]:
# which languages are there?
imdb_df['original_language'].unique()

array(['en', 'hi', 'ko', 'sr', 'fr', 'it', 'nl', 'zh', 'es', 'cs', 'ta',
       'cn', 'ru', 'tr', 'ja', 'fa', 'sv', 'de', 'te', 'pt', 'mr', 'da',
       'fi', 'el', 'ur', 'he', 'no', 'ar', 'nb', 'ro', 'vi', 'pl', 'hu',
       'ml', 'bn', 'id'], dtype=object)

In [74]:
# wants to know the frequency of each language
# imdb_df['original_language'].value_counts()

In [46]:
# What is the average runtime of all movies?
int(imdb_df['runtime'].dropna().mean())

107

🟡 **Intermediate**-**Level** **Questions**

In [50]:
# 1.What is the highest vote average, and which movie has it?
imdb_df.columns
imdb_df[imdb_df['popularity']==imdb_df['popularity'].max()]['original_title']

518    Wonder Woman
Name: original_title, dtype: object

In [52]:
# 2.Which movie has the longest runtime?
imdb_df[imdb_df['runtime']==imdb_df['runtime'].max()]['original_title']

1211    Carlos
Name: original_title, dtype: object

In [56]:
# 3.How many movies have a popularity score greater than 100?
len(imdb_df[imdb_df['popularity']>100])

8

In [57]:
# 4.How many unique genres are there?
imdb_df['genres'].nunique()

872

In [58]:
imdb_df['genres'].iloc[0]

"[{'id': 35, 'name': 'Comedy'}]"

In [60]:
import ast
genre_data = ast.literal_eval(imdb_df['genres'].iloc[0])
print(genre_data)

[{'id': 35, 'name': 'Comedy'}]

In [62]:
print([g['name'] for g in genre_data])

['Comedy']

In [69]:
def extract_genres(genre_str):
  try:
    genre_list = ast.literal_eval(genre_str)
    return [g['name'] for g in genre_list]
  except (ValueError,SyntaxError,TypeError):
    return []

In [70]:
imdb_df['genre_list'] = imdb_df['genres'].apply(extract_genres)

In [71]:
all_genres = sum(imdb_df['genre_list'],[])
unique_genre = set(all_genres)

In [73]:
len(unique_genre)

20

In [81]:
# 5.What are the top 5 most common genres?
from collections import Counter

#flatten all genres in to one list
all_genres = sum(imdb_df['genre_list'],[])

#count the frequency of each genre
genre_count = pd.Series(Counter(all_genres))

#get the top 5 genre
top_5_genre =

genre_list
[Drama]              266
[Comedy]             186
[Drama, Romance]     108
[Comedy, Romance]     88
[Comedy, Drama]       85
Name: count, dtype: int64