## <u> Use only those concepts which have been taught till now </u>

# <b><u> Problem 1: </u> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>

In [440]:
import pandas as pd
import numpy as np
imdb_df = pd.read_csv('imdb_data.csv')

In [441]:
# Your code here
imdb_df.head
imdb_df.shape

(3000, 23)

In [442]:
imdb_df.loc[~imdb_df['genres'].isna(),'genres']

0                          [{'id': 35, 'name': 'Comedy'}]
1       [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2                           [{'id': 18, 'name': 'Drama'}]
3       [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
4       [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
                              ...
2995    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2996    [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
2997    [{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...
2998    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2999    [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...
Name: genres, Length: 2993, dtype: object

In [443]:
type(imdb_df.loc[0,'cast'])

str

In [444]:
# eval() convert string type in to different type like from str to list and str to dict
# (eval(imdb_df.loc[0,'cast']))

In [445]:
#convert str in to list
def convert_string_to_list(str):
    return eval(str)

In [446]:
imdb_df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [447]:
# these are the columns which we need for given question
column_to_keep = ["budget",'genres','imdb_id','cast','crew','original_language','original_title','revenue']

In [448]:
imdb_df = imdb_df[column_to_keep]
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             3000 non-null   int64
 1   genres             2993 non-null   object
 2   imdb_id            3000 non-null   object
 3   cast               2987 non-null   object
 4   crew               2984 non-null   object
 5   original_language  3000 non-null   object
 6   original_title     3000 non-null   object
 7   revenue            3000 non-null   int64
dtypes: int64(2), object(6)
memory usage: 187.6+ KB

In [449]:
# Drop the null observation
# Apply the above function to three columns: genres,cast and crew
imdb_df.loc[~imdb_df['genres'].isna(),'genres'] = imdb_df.loc[~imdb_df['genres'].isna(),'genres'].apply(convert_string_to_list)

In [450]:
imdb_df.loc[0,'genres']

[{'id': 35, 'name': 'Comedy'}]

In [451]:
# Apply the above function to column cast
imdb_df.loc[~imdb_df['cast'].isna(),'cast'] = imdb_df.loc[~imdb_df['cast'].isna(),'cast'].apply(convert_string_to_list)

In [452]:
# Apply the above function to column crew
imdb_df.loc[~imdb_df['crew'].isna(),'crew'] = imdb_df.loc[~imdb_df['crew'].isna(),'crew'].apply(convert_string_to_list)

In [453]:
# imdb_df.loc[0,'cast']

In [454]:
# imdb_df.loc[0,'crew']

In [455]:
#make a copy of dataframe
imdb_df_new = imdb_df.copy()
imdb_df_new.shape
imdb_df_new.info

<bound method DataFrame.info of         budget                                             genres    imdb_id  \
0     14000000                     [{'id': 35, 'name': 'Comedy'}]  tt2637294
1     40000000  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...  tt0368933
2      3300000                      [{'id': 18, 'name': 'Drama'}]  tt2582802
3      1200000  [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...  tt1821480
4            0  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...  tt1380152
...        ...                                                ...        ...
2995         0  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...  tt0109403
2996         0  [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...  tt2364975
2997  65000000  [{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...  tt0116908
2998  42000000  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...  tt0343135
2999  35000000  [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...  tt1600195

                                                   cast  \
0     [{'cast_id': 4, 'character': 'Lou', 'credit_id...
1     [{'cast_id': 1, 'character': 'Mia Thermopolis'...
2     [{'cast_id': 5, 'character': 'Andrew Neimann',...
3     [{'cast_id': 1, 'character': 'Vidya Bagchi', '...
4     [{'cast_id': 3, 'character': 'Chun-soo', 'cred...
...                                                 ...
2995  [{'cast_id': 2, 'character': 'Rock Reilly', 'c...
2996  [{'cast_id': 5, 'character': 'Bobo', 'credit_i...
2997  [{'cast_id': 10, 'character': 'Samantha Caine ...
2998  [{'cast_id': 8, 'character': 'Reuben Feffer', ...
2999  [{'cast_id': 2, 'character': 'Nathan Harper', ...

                                                   crew original_language  \
0     [{'credit_id': '59ac067c92514107af02c8c8', 'de...                en
1     [{'credit_id': '52fe43fe9251416c7502563d', 'de...                en
2     [{'credit_id': '54d5356ec3a3683ba0000039', 'de...                en
3     [{'credit_id': '52fe48779251416c9108d6eb', 'de...                hi
4     [{'credit_id': '52fe464b9251416c75073b43', 'de...                ko
...                                                 ...               ...
2995  [{'credit_id': '52fe4494c3a368484e02ac7d', 'de...                en
2996  [{'credit_id': '5716b72ac3a3686678012c84', 'de...                sv
2997  [{'credit_id': '52fe443a9251416c7502d579', 'de...                en
2998  [{'credit_id': '556f817b9251410866000a63', 'de...                en
2999  [{'credit_id': '5391990d0e0a260fb5001629', 'de...                en

                                original_title    revenue
0                       Hot Tub Time Machine 2   12314651
1     The Princess Diaries 2: Royal Engagement   95149435
2                                     Whiplash   13092000
3                                      Kahaani   16000000
4                                         마린보이    3923970
...                                        ...        ...
2995                                   Chasers    1596687
2996                               Vi är bäst!     180590
2997                   The Long Kiss Goodnight   89456761
2998                          Along Came Polly  171963386
2999                                 Abduction   82087155

[3000 rows x 8 columns]>

In [456]:
imdb_df_new[imdb_df['genres'].isna()]

,budget,genres,imdb_id,cast,crew,original_language,original_title,revenue
470,2000000,NaN,tt0349159,"[{'cast_id': 1, 'character': 'Sam', 'credit_id...",NaN,en,"The Book of Mormon Movie, Volume 1: The Journey",1672730
1622,400000,NaN,tt0261755,"[{'cast_id': 4, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4d3c9251416c9110f319', 'de...",en,Jackpot,43719
1814,2700000,NaN,tt0110289,[],"[{'credit_id': '52fe4c139251416c910eeee3', 'de...",it,Курочка Ряба,4635143
1819,0,NaN,tt0352622,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4728c3a368484e0b7f53', 'de...",ru,Небо. Самолёт. Девушка.,314195
2423,500000,NaN,tt0984177,"[{'cast_id': 1, 'character': 'Vaasu', 'credit_...","[{'credit_id': '53b42af80e0a26598c00cea3', 'de...",en,Amarkalam,500000
2686,0,NaN,tt0833448,[],"[{'credit_id': '57b8a5d19251411bc6000587', 'de...",ru,Лифт,123182
2900,200000,NaN,tt1766044,"[{'cast_id': 3, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4ab89251416c750ebaab', 'de...",en,Poslednyaya skazka Rity,486937

In [457]:
imdb_df_new.describe()

             budget       revenue
count  3.000000e+03  3.000000e+03
mean   2.253133e+07  6.672585e+07
std    3.702609e+07  1.375323e+08
min    0.000000e+00  1.000000e+00
25%    0.000000e+00  2.379808e+06
50%    8.000000e+06  1.680707e+07
75%    2.900000e+07  6.891920e+07
max    3.800000e+08  1.519558e+09

1. Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.

In [459]:
# replace low value of budget and revenue with the median
imdb_df_new.loc[imdb_df_new['budget'] < 1000,'budget'] = imdb_df_new.loc[imdb_df_new['budget'] >= 1000,'budget'].median()
imdb_df_new.loc[imdb_df_new['revenue'] < 1000,'revenue'] = imdb_df_new.loc[imdb_df_new['revenue'] >= 1000,'revenue'].median()

In [460]:
imdb_df_new.describe()

             budget       revenue
count  3.000000e+03  3.000000e+03
mean   2.708250e+07  6.705811e+07
std    3.492773e+07  1.373917e+08
min    2.500000e+03  1.404000e+03
25%    1.000000e+07  2.947600e+06
50%    1.645000e+07  1.748753e+07
75%    2.900000e+07  6.891920e+07
max    3.800000e+08  1.519558e+09

In [461]:
imdb_df_new['profit'] = imdb_df_new['revenue']-imdb_df_new['budget']

In [462]:
max_profit = imdb_df_new['profit'].max()
max_profit

1316249360

In [463]:
max_profit_movie_df = imdb_df_new[imdb_df_new['profit']==max_profit]

In [464]:
# creating a crew list : list of crew member dictionaries
crew_list = max_profit_movie_df.iloc[0]['crew']
# (crew_list)

In [465]:
# Get the names of producer and director
producer_list = []
director_list = []
for elem in crew_list:
    if elem['job']=='Producer':
       producer_list.append(elem['name'])

    if elem['job']=='Director':
        director_list.append(elem['name'])

In [466]:
producer_list,director_list

(['Vin Diesel', 'Neal H. Moritz', 'Michael Fottrell', 'Brandon Birtell'],
 ['James Wan'])

## Get the actors for the highest grossing movie

In [468]:
cast_list = max_profit_movie_df.iloc[0]['cast']

In [469]:
list_of_actor = []

for elem in cast_list:
    list_of_actor.append(elem['name'])

In [470]:
list_of_actor

['Vin Diesel',
 'Paul Walker',
 'Dwayne Johnson',
 'Michelle Rodriguez',
 'Tyrese Gibson',
 'Ludacris',
 'Jordana Brewster',
 'Djimon Hounsou',
 'Tony Jaa',
 'Ronda Rousey',
 'Nathalie Emmanuel',
 'Kurt Russell',
 'Jason Statham',
 'Sung Kang',
 'Gal Gadot',
 'Lucas Black',
 'Elsa Pataky',
 'Noel Gugliemi',
 'John Brotherton',
 'Luke Evans',
 'Ali Fazal',
 'Miller Kimsey',
 'Charlie Kimsey',
 'Eden Estrella',
 'Gentry White',
 'Iggy Azalea',
 'Jon Lee Brody',
 'Levy Tran',
 'Anna Colwell',
 'Viktor Hernandez',
 'Steve Coulter',
 'Robert Pralgo',
 'Antwan Mills',
 'J.J. Phillips',
 'Jorge Ferragut',
 'Sara Sohn',
 'Benjamin Blankenship',
 'D.J. Hapa',
 'T-Pain',
 'Brian Mahoney',
 'Brittney Alger',
 'Romeo Santos',
 'Jocelin Donahue',
 'Stephanie Langston',
 'Jorge-Luis Pallo',
 'Tego Calder√≥n',
 'Nathalie Kelley',
 'Shad Moss',
 'Don Omar',
 'Klement Tinaj',
 'Caleb Walker',
 'Cody Walker']

## This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)? ¶

In [472]:
imdb_df_new['roi']= 100 * imdb_df_new['profit']/imdb_df_new['budget']

In [504]:
max_roi = imdb_df_new['roi'].max()
imdb_df_new.columns

Index(['budget', 'genres', 'imdb_id', 'cast', 'crew', 'original_language',
       'original_title', 'revenue', 'profit', 'roi'],
      dtype='object')

## we will groupby on the original language and calculate the mean of roi

In [510]:
roi_languages_df = imdb_df_new.groupby('original_language')['roi'].mean().reset_index()

In [515]:
max_roi_lan = roi_languages_df[roi_languages_df['roi']==roi_languages_df['roi'].max()]

In [518]:
print("The language with highest average RoI is : ",max_roi_lan["original_language"].iloc[0])

The language with highest average RoI is :  ko

# <b><u> Problem 2 :</u> Top 3 directors prefer which actors the most?

In [265]:
# Your code here

m

NameError: name 'm' is not defined

# <b><u>Problem 3 :</u> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI.

In [ ]:
# Hint below: Create a dataframe which looks like as shown
# DataFrame1
Movie    Producers     Directors

Movie1    [p1, p2]     [d1, d2]
Movie2    [p3, p4]     [d3, d4]

# DataFrame2
Movie    Producers       ROI
Movie1     p1            12
Movie1     p2            13
Movie2     p3            14
movie2     p4            15

# DataFrame3
Producer   Movies         Average_ROI
p1.    [m1, m2, m3]    avg_roi(m1, m2, m3)
p2     [m2, m4, m5]    avg_roi(m2, m4, m5)

In [ ]:
# Your code here